<h3>New Book</h3>
<%= form_with model: book do |f| %>
  <h7>Title</h7>
  <%= f.text_field :title %>

  <h7>Opinion</h7>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book', class: 'btn btn-sm btn-success' %>
<% end %>