<!-- ユーザーの詳細 -->
<div>
   <%= image_tag user.get_profile_image, size:"50,50" %>
   <p class="profile-heding">name</p>
   <p class="profile-input"><%= user.name %></p>
   <p class="profile-heding">introdution</p>
   <p class="profile-input"><%= user.introduction %></p>
   <% if user == current_user %>
     <p><%= link_to "User info", edit_user_path(user.id) %></p>
   <% end %>
</div> 